* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
}
html {
	width: 100%;
	height:100%;
}
body {
	width: 100%;
	height:100%;
	font: 16px/24px Meiryo,'メイリオ','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','MS PGothic','ＭＳ Ｐゴシック',Arial,Verdana,Sans-Serif;
	background: #000;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
}
#container {
	width: 610px;
	height: 348px;
	border: dashed 5px #ccc;
	cursor: pointer;
}
